* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 14, 14);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-container {
    width: 100vw;
    height: 100vh;
    background-color: linear-gradient(top, red, blue);
    background-color: -moz-linear-gradient(to bottom, red, blue);
    background-color: -o-linear-gradient(to bottom, red, blue);
}

#container {
    background-color: #fff;
    border-radius: 15px;
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    width: auto;
    height: auto;
    position: relative;
    outline: none;
}

#inner_input {
   width: 250px;
   height: 50px;
   border: 1px solid black;
   padding-left: 10px;
   font-family: monospace;
   font-size: 30px;
   border-radius: 50px;
}

#inner_input:active{
    color: black;
    background-color: darkgray;
}

hr {
    color: darkgray;
    margin-top: 7px;
}

#container_btn {
    background-color: white;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#btn {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin: 10px auto;
    box-shadow: 2.5px 2.5px rgba(25, 25, 25, .6);
}

/* .intBtn {
    background-color: rgb(189, 177, 177);
} */

.delBtn {
    color: wheat;
    background-color: red;

}

.equalBtn {
    color: rgb(3, 66, 3);
    background-color: green;
}

.clearBtn {
    color: orangered;
    background-color: orange;
}